@using FMS3.Enums
@model MatchDetail
@{
    ViewData["Title"] = "MatchDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MatchDetail</h2>

<hr />
@Component.InvokeAsync("TeamName", new { teamId = Model.Match.HomeTeamId }).Result : @Model.Match.HomeTeamScore
<br />
@Component.InvokeAsync("TeamName", new { teamId = Model.Match.AwayTeamId }).Result :  @Model.Match.AwayTeamScore

<hr />
<h3>Goals</h3>
<br />
<table class="table-striped" width="60%">
    <thead>
        <tr>
            <th>
                Minute
            </th>
            <th>
                Team
            </th>
            <th>
                Player
            </th>
            <th>
                Assist?
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Goals)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Minute)
            </td>
            <td>
                @Component.InvokeAsync("TeamName", new { teamId = item.TeamId }).Result
            </td>
            <td>
                @Component.InvokeAsync("PlayerName", new { playerId = item.PlayerId }).Result
            </td>
            <td>
                @if (item.AssistPlayerId == 0)
                {
                    <span>(None)</span>
                }
                else
                {
                    @Component.InvokeAsync("PlayerName", new { playerId = item.AssistPlayerId }).Result
                }
            </td>

        </tr>
        }
    </tbody>
</table>

<hr />
Events:
<br />
<table class="table-striped" width="60%">
    <thead>
        <tr>
            <th>
                Minute
            </th>
            <th>
                Event
            </th>
            <th>
                Player/Team
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Minute)
            </td>

            <td>
                @Enum.GetName(typeof(MatchEventTypesEnum), item.EventType)
            </td>

            <td>
                @if (item.EventType != MatchEventTypesEnum.Corner.GetHashCode())
                {
                    @Component.InvokeAsync("PlayerName", new { playerId = item.PlayerId }).Result
                }
                else
                {
                    @Component.InvokeAsync("TeamName", new { teamId = item.TeamId }).Result
                }
            </td>
        </tr>
        }
    </tbody>
</table>
