@model IEnumerable<FMS3.Models.Match>

@{
    ViewData["Title"] = "Matches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fixtures / Results </h2>

<hr/>

<table class="table-bordered" width="80%">
    <thead>
        <tr>
            <th>
                Week
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeTeamId)
            </th>
            <th width="20px"></th>
            <th width="40px"></th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeamId)
            </th>
            <th>Attendance</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Week
                </td>
                <td>
                    @Component.InvokeAsync("TeamName", new { teamId = item.HomeTeamId }).Result
                </td>
                <td>
                    @if (item.Completed)
                    {
                        @Html.DisplayFor(modelItem => item.HomeTeamScore)
                    }

                </td>
                <td>
                    :
                    @if (item.Completed)
                    {
                        @Html.DisplayFor(modelItem => item.AwayTeamScore)
                    }
                </td>

                <td>
                    @Component.InvokeAsync("TeamName", new { teamId = item.AwayTeamId }).Result
                </td>
                <td>
                    @if (item.Attendance > 0)
                    {
                        @Html.DisplayFor(modelItem => item.Attendance)
                    }
                </td>
                <td>
                    @if (item.Completed)
                    {
                        @Html.ActionLink("Details", "MatchDetail", "Match", new { id = item.Id })
                    }
                </td>
            </tr>
            if (item.Completed)
            {
                <tr>
                    <td></td>
                    <td>
                        @Component.InvokeAsync("MatchGoalDisplay", new { matchId = item.Id, teamId = item.HomeTeamId }).Result
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        @Component.InvokeAsync("MatchGoalDisplay", new { matchId = item.Id, teamId = item.AwayTeamId }).Result
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Component.InvokeAsync("MatchCardsDisplay", new { matchId = item.Id, teamId = item.HomeTeamId }).Result
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        @Component.InvokeAsync("MatchCardsDisplay", new { matchId = item.Id, teamId = item.AwayTeamId }).Result
                    </td>
                    <td></td>
                </tr>
            }
        }
        <tr>

            <td></td>
            <td></td>
            <td></td>

            <td></td>

        </tr>

    </tbody>
</table>
<hr />
<div>
    <a asp-action="Index" asp-controller="Game">Back to Game Home</a>
</div>