@using FMS3.Enums
@model FMS3.Models.PlayerListDisplay

@{
    ViewData["Title"] = "Player List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@if (Model.DisplayType == PlayerListDisplayTypeEnum.MySquad || Model.DisplayType == PlayerListDisplayTypeEnum.OtherSquad)
{
    @Component.InvokeAsync("TeamName", new { teamId = Model.PlayerList.First().TeamId }).Result
    <hr />

    <span> Formation: @Model.TeamFormation </span>
}
@if (Model.DisplayType == PlayerListDisplayTypeEnum.AllPlayers)
{
    <h3>All Players</h3>
}
@if (Model.DisplayType == PlayerListDisplayTypeEnum.TransferMarket)
{
    <h3>Transfer Market</h3>
}

<hr />
<table class="table-bordered table-striped" width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerList[0].Name)
            </th>
            @if (Model.DisplayType == PlayerListDisplayTypeEnum.AllPlayers)
            {
                <th>
                    @Html.DisplayNameFor(model => model.PlayerList[0].TeamId)
                </th>
            }

            <th>
                @Html.DisplayNameFor(model => model.PlayerList[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerList[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerList[0].Position)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PlayerList[0].Value)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PlayerList[0].InjuredWeeks)
            </th>
            @if (Model.DisplayType == PlayerListDisplayTypeEnum.MySquad || Model.DisplayType == PlayerListDisplayTypeEnum.OtherSquad)
            {
                <th>
                    @Html.DisplayNameFor(model => model.PlayerList[0].TeamSelection)
                </th>
            }
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlayerList)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (Model.DisplayType == PlayerListDisplayTypeEnum.AllPlayers)
            {
                <td>
                    @Component.InvokeAsync("TeamName", new { teamId = item.TeamId }).Result
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Component.InvokeAsync("PlayerPosition", new { positionId = item.Position }).Result
            </td>

            <td>
                @Component.InvokeAsync("CashFormat", new { cashValue = item.Value }).Result
            </td>
            <td>
                @Component.InvokeAsync("InjuryStatus", new { injuredWeeks = item.InjuredWeeks }).Result
            </td>
            @if (Model.DisplayType == PlayerListDisplayTypeEnum.MySquad
             || Model.DisplayType == PlayerListDisplayTypeEnum.OtherSquad)
            {
                <td>
                    @if (item.IsSelected)
                    {
                        <span>Yes</span>
                    }
                </td>
            }
            <td>
                @Html.ActionLink("Details", "Details", new { playerId = item.Id })
            </td>
            @if (Model.DisplayType == PlayerListDisplayTypeEnum.MySquad)
            {
                <td>
                    @Html.ActionLink("Sell", "Sell", new { playerId = item.Id })
                </td>
            }
        </tr>
        }
    </tbody>
</table>
<hr />
<div>
    <a asp-action="Index" asp-controller="Game">Back to Game Home</a>
</div>