@model IEnumerable<FMS3.Models.Match>


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.HomeTeamId)
            </th>
            <th width="15px"></th>
            <th width="20px"></th>
            <th>
                @Html.DisplayNameFor(model => model.AwayTeamId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Component.InvokeAsync("TeamName", new { teamId = item.HomeTeamId }).Result
            </td>
            <td>
                @if (item.Completed)
                {
                    @Html.DisplayFor(modelItem => item.HomeTeamScore)
                }
                
            </td>
            <td>
                :
                @if (item.Completed)
                {
                    @Html.DisplayFor(modelItem => item.AwayTeamScore)
                }
            </td>

            <td>
                @Component.InvokeAsync("TeamName", new { teamId = item.AwayTeamId }).Result
            </td>
            <td>
                @if (item.Completed)
                {
                    @Html.ActionLink("Details", "Index", "Match")
                }
                else
                {
                    @Html.ActionLink("Play", "PlayMatch", "Match", new { id = item.Id })
                }
            </td>
        </tr>
        }
    </tbody>
</table>
