@model FMS3.Models.PlayerAttributes

<div>
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shooting)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shooting)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Crossing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Crossing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Passing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Passing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Skills)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Skills)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tackling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tackling)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Defending)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Defending)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Handling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Handling)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aggression)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aggression)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Form)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Form)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Morale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Morale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Happiness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Happiness)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stamina)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stamina)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Strength)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Strength)
        </dd>
    </dl>
</div>

