@model IEnumerable<FMS3.Models.Player>

Squad Summary:
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Selection Status
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
          
            <th>
                Injury Status
            </th>
         
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                SEL/NOT SEL
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Component.InvokeAsync("PlayerPosition", new { positionId = item.Position }).Result
            </td>

            <td>
                @Component.InvokeAsync("CashFormat", new { cashValue = item.Value }).Result
            </td>

            <td>
                @Component.InvokeAsync("InjuryStatus", new { injuredWeeks = item.InjuredWeeks }).Result
            </td>

            <td>
                @Html.ActionLink("Details", "Details", "Player", new { playerId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
