@model FMS3.Models.PlayerStats

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Games)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Games)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Goals)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Goals)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Assists)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Assists)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CleanSheets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CleanSheets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RedCards)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RedCards)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YellowCards)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YellowCards)
        </dd>
    </dl>
</div>
