@model FMS3.Models.PlayerStats

<div>
    <h4>PLAYER STATS</h4>
</div>
<div>
    <hr />

    <table class="table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Games)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Goals)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Assists)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.CleanSheets)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.RedCards)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.YellowCards)
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Games)
            </td>
            <td>
                @Html.DisplayFor(model => model.Goals)
            </td>
            <td>
                @Html.DisplayFor(model => model.Assists)
            </td>
            <td>
                @Html.DisplayFor(model => model.CleanSheets)
            </td>
            <td>
                @Html.DisplayFor(model => model.RedCards)
            </td>
            <td>
                @Html.DisplayFor(model => model.YellowCards)
            </td>
        </tr>
    </table>

   
</div>
