@model IEnumerable<FMS3.Models.Team>

@{
    ViewData["Title"] = "Team List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    <h3>All Teams</h3>

    <div>
        <table class="table-bordered table-striped" width="100%">
            <tr height="40px">
                <td>
                    @Html.LabelFor(t => t.First().Name)
                </td>
                <td>
                    @Html.LabelFor(t => t.First().DivisionId)
                </td>
                <td>
                    @Html.LabelFor(t => t.First().YearFormed)
                </td>
                <td>
                    @Html.LabelFor(t => t.First().Cash)
                </td>
                <td></td>
            </tr>
            @foreach (var team in Model)
            {
                <tr>
                    <td>
                        @Component.InvokeAsync("TeamName", new { teamId = team.Id }).Result
                    </td>
                    <td>
                        @Component.InvokeAsync("DivisionName", new { divisionId = @team.DivisionId }).Result
                    </td>
                    <td>
                        @team.YearFormed.ToString()
                    </td>
                    <td>
                        @Component.InvokeAsync("CashFormat", new { cashValue = @team.Cash }).Result
                    </td>
                </tr>
            }
        </table>
    </div>

    <div>
        <a asp-action="Index" asp-controller="Game">Back to Game Home</a>
    </div>
</body>
</html>

