@model IEnumerable<FMS3.Models.Team>

@{
    ViewData["Title"] = "Team List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    <h3>Team List</h3>

    <div>
        <table  class="table table-bordered">
            <tr height="40px">
                <td>
                    @Html.LabelFor(t => t.First().Id)
                </td>
                <td>
                    @Html.LabelFor(t => t.First().Name)
                </td>
                <td>
                    @Html.LabelFor(t => t.First().DivisionId)
                </td>
                <td>
                    @Html.LabelFor(t => t.First().YearFormed)
                </td>
                <td>
                    @Html.LabelFor(t => t.First().Cash)
                </td>
                <td></td>
            </tr>
            @foreach (var team in Model)
            {
        <tr>
            <td>
                @team.Id.ToString()
            </td>
            <td>
                @team.Name.ToString()
            </td>
            <td>
                @Component.InvokeAsync("DivisionName", new { divisionId = @team.DivisionId }).Result
            </td>
            <td>
                @team.YearFormed.ToString()
            </td>
            <td>
                @Component.InvokeAsync("CashFormat", new { cashValue = @team.Cash }).Result
            </td>
            <td>
                @Html.ActionLink("Team Details", "TeamDetails", "Team", new { id = team.Id })
            </td>
        </tr>
            }
        </table>
    </div>


</body>
</html>

