@model FMS3.Models.Team
@{
    ViewData["Title"] = "Team Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Team Details - @Html.LabelForModel(Model.Name)</h2>

@Html.DisplayNameFor(model => model.DivisionId):
@Component.InvokeAsync("DivisionName", new { divisionId = Model.DivisionId }).Result
<br />

@Html.DisplayNameFor(model => model.YearFormed):
@Html.LabelForModel(Model.YearFormed.ToString())
<br />

@Html.DisplayNameFor(model => model.Cash):
@Component.InvokeAsync("CashFormat", new { cashValue = Model.Cash }).Result
<br />

@Html.DisplayNameFor(model => model.StadiumCapacity):
@Html.LabelForModel(Model.StadiumCapacity.ToString())
<br />
<hr />
@Html.DisplayNameFor(model => model.Formation):
@Html.LabelForModel(Model.Formation.ToString())
<br />
@Html.ActionLink("Squad", "Squad", "Player", new { teamId = Model.Id })
<hr />
<hr />
Recent Form:
<br />
@Component.InvokeAsync("RecentForm", new { teamId = Model.Id }).Result
<hr />
<div>
    This Week's Fixture: @await Component.InvokeAsync("ThisWeeksFixture")
</div>
<br />
@Html.ActionLink("All Team's Fixtures/Results", "TeamFixtures", "Match", new { teamId = Model.Id, divisionId = Model.DivisionId })
<hr />
News:
<br />
@Component.InvokeAsync("TeamNews", new { teamId = Model.Id }).Result
<hr />


(History)
<hr />

(Records)
<br />
<br />

@Html.ActionLink("Back To Main Page", "Index", "Game")
