@model IEnumerable<FMS3.Models.Team>

<table class="table table-bordered">
    <tr height="40px">
        <td>
            @Html.LabelFor(t => t.First().Id)
        </td>
        <td>
            @Html.LabelFor(t => t.First().Name)
        </td>
        <td>
            @Html.LabelFor(t => t.First().DivisionId)
        </td>
        <td>
            @Html.LabelFor(t => t.First().YearFormed)
        </td>
        <td>
            @Html.LabelFor(t => t.First().Cash)
        </td>
        <td>
            @Html.LabelFor(t => t.First().StadiumCapacity)
        </td>
        <td></td>
    </tr>


    @foreach (var team in Model)
    {
        <tr>
            <td>
                @team.Id.ToString()
            </td>
            <td>
                @team.Name.ToString()
            </td>
            <td>
                @Component.InvokeAsync("DivisionName", new { divisionId = @team.DivisionId }).Result
            </td>
            <td>
                @team.YearFormed.ToString()
            </td>
            <td>
                @Component.InvokeAsync("CashFormat", new { cashValue = @team.Cash }).Result
            </td>
            <td>
                @team.StadiumCapacity.ToString()
            </td>
            <td>
                @Html.ActionLink("Select", "SelectTeam", "Home", new { teamId = team.Id })
            </td>
        </tr>
    }
</table>
